html, body{
	height:100%;
	margin:0;
	padding:0;
	border:0;
}

body{
	height:calc(100% - 60px);
}

.header{
	display:flex;
	justify-content: space-between;
	height:40px;
	width: 100%;
	position: fixed;
	z-index:2;
	top:0;
}

.headerIcon{
	color:#fff;
	margin-top:7px;
	margin-left:10px;
	margin-right:10px;
}

#menu {
	color:inherit;
}

.test-suite-name{
	margin-left:20px;
	font-size:16px;
}

#slide-out>p{
	font-size:16px;
	margin: 10px 15px;
	font-weight:600;
}

.side-nav a{
	font-size:14px;
}

.side-nav a:hover{
	background-color:#bbdefb;
}

.side-nav a.active{
	color:white;
	background-color:#2979ff;
}

.side-nav  a  i{
	font-size:16px;
	margin-right:10px!important;
}

.side-nav a.active i{
	color:white!important;
}

.main-content{
	margin-top:60px;
	width:98%;
	margin-left:auto;
	margin-right:auto;
}

.total-suite-info{
	padding:3px!important;
	font-size: 14px;
}

.diagram{
	height:200px;
	position: relative;
}

.test-suites-column{
	padding-left:0!important;
	padding-right:15px!important;
}

.test-suites .suite-info:not(.suite-active):hover{
	background-color:#eeeeee;
}

.test-suites .row:nth-child(1){
	font-weight:600;
}

.test-suites .row, .test-header, #tests .row{
	padding:10px 15px;
	margin:0;
}


.suite-info{
	cursor:pointer;
	display:block!important;
	border-top:1px solid #cfd8dc;
}

.suite-active{
	background-color:#bdbdbd;
}

#tests .row{
	border-top:1px solid #cfd8dc;
}

#tests .row .col{
	border-right:1px solid #cfd8dc;
}

.passed{
	border:1px solid green;
	color:green;
}

.failed{
	border:1px solid red;
	color:red;
}

.error{
	color:red;
}

.bold{
	font-weight:600;
}

pre{
	background-color:#f5f5f5;
	border:1px solid #bdbdbd;
	padding: 10px 15px;
	word-wrap: break-word;
	white-space: pre-wrap;
}






